/* cart.css */

.cart_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.cart_img img {
    width: 100px;
    height: 100px;
}

.cart_quantity {
    display: flex;
    align-items: center;
}

.cart_quantity button {
    padding: 5px 10px;
    cursor: pointer;
}

.cart_price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.total {
    text-align: right;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
}

.cart-empty {
    text-align: center;
    font-size: 18px;
    padding: 20px;
}
